
<form [formGroup]="formUsuario" (ngSubmit)="onSubmit()">
<p-card>
    <h3>Cadastro de Usuário</h3>
    <div class="p-grid p-fluid">

        <div class="p-col-12 p-md-10">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText placeholder="Nome" formControlName="nome">
            </div>
        </div>
    
        <div class="p-col-12 p-md-10">
            <div class="p-inputgroup sobrenome">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText placeholder="Sobrenome" formControlName="sobrenome">
            </div>
        </div>
    
        <div class="p-col-12 p-md-10">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user-plus"></i></span>
                <input type="text" pInputText placeholder="Usuário" formControlName="user">
    
            </div>
        </div>
    
        <div class="p-col-12 p-md-10">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                <input type="text" pInputText placeholder="Senha" formControlName="senha">
            </div>
        </div>
    </div>
    <button pButton type="submit" (click)="setUser()" label="Salvar usuário" id="botao"></button>
    <button pButton type="button" label="Get" id="botao"(click)="getUser()" ></button>
    </p-card>
    
</form>

 

    

