.header{
    height: 10vh;
    width: 100%;
    background-image: url("/assets/img/head.jpg");
    background-size: cover;
}
.header h1{
    height: 100%;
    color: #f1f1f1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}
.logincard{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.logincard p-card{
    width: 400px;
    text-align: center;;
}
#user {
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: left;
}
#user input{
    width: 100%;
}
#senhabox{
    text-align: left;
    margin-bottom: 20px;
}
#senhabox input{
    width: 100%;
}
.cadcard{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 20px;
}
.cadcard p-accordion{
    width: 400px;
    text-align: center;
    align-items: center;
}