h1,h2,h3{
    margin: 0;
    font-family: "Roboto";
    font-weight: 600;
    color: #4d4d4d;
    padding-bottom: 30px;
    text-align: left;
}

.logincard{
    max-width: 500px;
    display: flex;
    margin: auto;
    margin-top: 20px;
    text-align: center;
   align-items: center;

}
#user{
    margin-top: 30px;
    text-align: left;
}
#senhabox{
    margin-top: 30px;
    text-align: left;
}
#botao{
    margin-top: 10px;
}
.p-inputtext {
    width: 100%;
}

.p-accordiontab{
    width: 800px;
}
@media screen and (min-width:320px){
    .logincard{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }
    
}